In [1]:
import polars as pl
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

# Eager Quickstart

In [2]:
df = pl.read_csv("https://j.mp/iriscsv")

In [3]:
df.head()

shape: (5, 5)
┌──────────────┬─────────────┬──────────────┬─────────────┬─────────┐
│ sepal_length ┆ sepal_width ┆ petal_length ┆ petal_width ┆ species │
│ ---          ┆ ---         ┆ ---          ┆ ---         ┆ ---     │
│ f64          ┆ f64         ┆ f64          ┆ f64         ┆ str     │
╞══════════════╪═════════════╪══════════════╪═════════════╪═════════╡
│ 5.1          ┆ 3.5         ┆ 1.4          ┆ 0.2         ┆ setosa  │
│ 4.9          ┆ 3.0         ┆ 1.4          ┆ 0.2         ┆ setosa  │
│ 4.7          ┆ 3.2         ┆ 1.3          ┆ 0.2         ┆ setosa  │
│ 4.6          ┆ 3.1         ┆ 1.5          ┆ 0.2         ┆ setosa  │
│ 5.0          ┆ 3.6         ┆ 1.4          ┆ 0.2         ┆ setosa  │
└──────────────┴─────────────┴──────────────┴─────────────┴─────────┘

In [4]:
filtered = (
    df.filter(pl.col("sepal_length") > 5)
    .groupby("species", maintain_order=True)
    .agg(pl.all().sum())
)

print(filtered)

shape: (3, 5)
┌────────────┬──────────────┬─────────────┬──────────────┬─────────────┐
│ species    ┆ sepal_length ┆ sepal_width ┆ petal_length ┆ petal_width │
│ ---        ┆ ---          ┆ ---         ┆ ---          ┆ ---         │
│ str        ┆ f64          ┆ f64         ┆ f64          ┆ f64         │
╞════════════╪══════════════╪═════════════╪══════════════╪═════════════╡
│ setosa     ┆ 116.9        ┆ 81.7        ┆ 33.2         ┆ 6.1         │
│ versicolor ┆ 281.9        ┆ 131.8       ┆ 202.9        ┆ 63.3        │
│ virginica  ┆ 324.5        ┆ 146.2       ┆ 273.1        ┆ 99.6        │
└────────────┴──────────────┴─────────────┴──────────────┴─────────────┘

In [5]:
filtered

shape: (3, 5)
┌────────────┬──────────────┬─────────────┬──────────────┬─────────────┐
│ species    ┆ sepal_length ┆ sepal_width ┆ petal_length ┆ petal_width │
│ ---        ┆ ---          ┆ ---         ┆ ---          ┆ ---         │
│ str        ┆ f64          ┆ f64         ┆ f64          ┆ f64         │
╞════════════╪══════════════╪═════════════╪══════════════╪═════════════╡
│ setosa     ┆ 116.9        ┆ 81.7        ┆ 33.2         ┆ 6.1         │
│ versicolor ┆ 281.9        ┆ 131.8       ┆ 202.9        ┆ 63.3        │
│ virginica  ┆ 324.5        ┆ 146.2       ┆ 273.1        ┆ 99.6        │
└────────────┴──────────────┴─────────────┴──────────────┴─────────────┘

# Same Filter with Pandas

In [6]:
df = pd.read_csv("https://j.mp/iriscsv")

df.query("sepal_length > 5").groupby("species").sum()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             116.9         81.7          33.2          6.1
versicolor         281.9        131.8         202.9         63.3
virginica          324.5        146.2         273.1         99.6

# Lazy Example

In [7]:
(
    pl.read_csv("https://j.mp/iriscsv")
    .lazy()
    .filter(pl.col("sepal_length") > 5)
    .groupby("species", maintain_order=True)
    .agg(pl.all().sum())
)

"Collect()" lässt uns die Abfrage dann anzeigen

In [8]:
(
    pl.read_csv("https://j.mp/iriscsv")
    .lazy()
    .filter(pl.col("sepal_length") > 5)
    .groupby("species", maintain_order=True)
    .agg(pl.all().sum())
    .collect()
)

shape: (3, 5)
┌────────────┬──────────────┬─────────────┬──────────────┬─────────────┐
│ species    ┆ sepal_length ┆ sepal_width ┆ petal_length ┆ petal_width │
│ ---        ┆ ---          ┆ ---         ┆ ---          ┆ ---         │
│ str        ┆ f64          ┆ f64         ┆ f64          ┆ f64         │
╞════════════╪══════════════╪═════════════╪══════════════╪═════════════╡
│ setosa     ┆ 116.9        ┆ 81.7        ┆ 33.2         ┆ 6.1         │
│ versicolor ┆ 281.9        ┆ 131.8       ┆ 202.9        ┆ 63.3        │
│ virginica  ┆ 324.5        ┆ 146.2       ┆ 273.1        ┆ 99.6        │
└────────────┴──────────────┴─────────────┴──────────────┴─────────────┘

# Polars Basic

In [9]:
pl.Series([1, 2, 3, 4])

shape: (4,)
Series: '' [i64]
[
	1
	2
	3
	4
]

In [10]:
pl.DataFrame(
    {
        "integer": [1, 2, 3],
        "date": [
            (datetime(2023, 6, 27)),
            (datetime(2023, 6, 28)),
            (datetime(2023, 6, 29)),
        ],
        "float": [4.0, 5.0, 6.0],
    }
)

shape: (3, 3)
┌─────────┬─────────────────────┬───────┐
│ integer ┆ date                ┆ float │
│ ---     ┆ ---                 ┆ ---   │
│ i64     ┆ datetime[μs]        ┆ f64   │
╞═════════╪═════════════════════╪═══════╡
│ 1       ┆ 2023-06-27 00:00:00 ┆ 4.0   │
│ 2       ┆ 2023-06-28 00:00:00 ┆ 5.0   │
│ 3       ┆ 2023-06-29 00:00:00 ┆ 6.0   │
└─────────┴─────────────────────┴───────┘

## Reading CSV

In [11]:
stock = pl.read_excel("data/stock_data.xlsx")
stock

shape: (8_981, 10)
┌─────────────┬───────────┬───────┬───────┬───┬───────────┬─────────────┬────────────┬─────────────┐
│ Datum       ┆ Eröffnung ┆ Hoch  ┆ Tief  ┆ … ┆ Unternehm ┆ Branche     ┆ Kalenderwo ┆ Sektor      │
│ ---         ┆ ---       ┆ ---   ┆ ---   ┆   ┆ en        ┆ ---         ┆ che        ┆ ---         │
│ str         ┆ f64       ┆ f64   ┆ f64   ┆   ┆ ---       ┆ str         ┆ ---        ┆ str         │
│             ┆           ┆       ┆       ┆   ┆ str       ┆             ┆ i64        ┆             │
╞═════════════╪═══════════╪═══════╪═══════╪═══╪═══════════╪═════════════╪════════════╪═════════════╡
│ 2020-04-30  ┆ 214.7     ┆ 217.8 ┆ 208.0 ┆ … ┆ Adidas    ┆ Sportartike ┆ 18         ┆ Konsumgüter │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆           ┆ l           ┆            ┆             │
│ 2020-04-29  ┆ 204.1     ┆ 213.6 ┆ 199.7 ┆ … ┆ Adidas    ┆ Sportartike ┆ 18         ┆ Konsumgüter │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆           ┆ l           ┆            ┆             │
│ 2020-04-28  ┆ 207.5     ┆ 210.2 ┆ 201.5 ┆ … ┆ Adidas    ┆ Sportartike ┆ 18         ┆ Konsumgüter │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆           ┆ l           ┆            ┆             │
│ 2020-04-27  ┆ 198.25    ┆ 216.4 ┆ 197.2 ┆ … ┆ Adidas    ┆ Sportartike ┆ 18         ┆ Konsumgüter │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆           ┆ l           ┆            ┆             │
│ …           ┆ …         ┆ …     ┆ …     ┆ … ┆ …         ┆ …           ┆ …          ┆ …           │
│ 2020-02-20  ┆ 49.0      ┆ 49.68 ┆ 48.95 ┆ … ┆ Brenntag  ┆ Sonstige    ┆ 8          ┆ Diverse     │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆           ┆ Branchen    ┆            ┆             │
│ 2020-02-19  ┆ 48.9      ┆ 49.07 ┆ 48.5  ┆ … ┆ Brenntag  ┆ Sonstige    ┆ 8          ┆ Diverse     │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆           ┆ Branchen    ┆            ┆             │
│ 2020-02-18  ┆ 49.36     ┆ 49.4  ┆ 48.65 ┆ … ┆ Brenntag  ┆ Sonstige    ┆ 8          ┆ Diverse     │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆           ┆ Branchen    ┆            ┆             │
│ 2020-02-17  ┆ 49.52     ┆ 49.87 ┆ 49.52 ┆ … ┆ Brenntag  ┆ Sonstige    ┆ 8          ┆ Diverse     │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆           ┆ Branchen    ┆            ┆             │
└─────────────┴───────────┴───────┴───────┴───┴───────────┴─────────────┴────────────┴─────────────┘

In [12]:
stock.head()

shape: (5, 10)
┌─────────────┬───────────┬───────┬───────┬───┬───────────┬─────────────┬────────────┬─────────────┐
│ Datum       ┆ Eröffnung ┆ Hoch  ┆ Tief  ┆ … ┆ Unternehm ┆ Branche     ┆ Kalenderwo ┆ Sektor      │
│ ---         ┆ ---       ┆ ---   ┆ ---   ┆   ┆ en        ┆ ---         ┆ che        ┆ ---         │
│ str         ┆ f64       ┆ f64   ┆ f64   ┆   ┆ ---       ┆ str         ┆ ---        ┆ str         │
│             ┆           ┆       ┆       ┆   ┆ str       ┆             ┆ i64        ┆             │
╞═════════════╪═══════════╪═══════╪═══════╪═══╪═══════════╪═════════════╪════════════╪═════════════╡
│ 2020-04-30  ┆ 214.7     ┆ 217.8 ┆ 208.0 ┆ … ┆ Adidas    ┆ Sportartike ┆ 18         ┆ Konsumgüter │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆           ┆ l           ┆            ┆             │
│ 2020-04-29  ┆ 204.1     ┆ 213.6 ┆ 199.7 ┆ … ┆ Adidas    ┆ Sportartike ┆ 18         ┆ Konsumgüter │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆           ┆ l           ┆            ┆             │
│ 2020-04-28  ┆ 207.5     ┆ 210.2 ┆ 201.5 ┆ … ┆ Adidas    ┆ Sportartike ┆ 18         ┆ Konsumgüter │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆           ┆ l           ┆            ┆             │
│ 2020-04-27  ┆ 198.25    ┆ 216.4 ┆ 197.2 ┆ … ┆ Adidas    ┆ Sportartike ┆ 18         ┆ Konsumgüter │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆           ┆ l           ┆            ┆             │
│ 2020-04-24  ┆ 203.6     ┆ 207.7 ┆ 202.2 ┆ … ┆ Adidas    ┆ Sportartike ┆ 17         ┆ Konsumgüter │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆           ┆ l           ┆            ┆             │
└─────────────┴───────────┴───────┴───────┴───┴───────────┴─────────────┴────────────┴─────────────┘

In [13]:
stock.tail()

shape: (5, 10)
┌────────────┬───────────┬───────┬───────┬───┬─────────────┬──────────┬────────────┬─────────┐
│ Datum      ┆ Eröffnung ┆ Hoch  ┆ Tief  ┆ … ┆ Unternehmen ┆ Branche  ┆ Kalenderwo ┆ Sektor  │
│ ---        ┆ ---       ┆ ---   ┆ ---   ┆   ┆ ---         ┆ ---      ┆ che        ┆ ---     │
│ str        ┆ f64       ┆ f64   ┆ f64   ┆   ┆ str         ┆ str      ┆ ---        ┆ str     │
│            ┆           ┆       ┆       ┆   ┆             ┆          ┆ i64        ┆         │
╞════════════╪═══════════╪═══════╪═══════╪═══╪═════════════╪══════════╪════════════╪═════════╡
│ 2020-02-21 ┆ 49.18     ┆ 49.52 ┆ 48.77 ┆ … ┆ Brenntag    ┆ Sonstige ┆ 8          ┆ Diverse │
│ 00:00:00   ┆           ┆       ┆       ┆   ┆             ┆ Branchen ┆            ┆         │
│ 2020-02-20 ┆ 49.0      ┆ 49.68 ┆ 48.95 ┆ … ┆ Brenntag    ┆ Sonstige ┆ 8          ┆ Diverse │
│ 00:00:00   ┆           ┆       ┆       ┆   ┆             ┆ Branchen ┆            ┆         │
│ 2020-02-19 ┆ 48.9      ┆ 49.07 ┆ 48.5  ┆ … ┆ Brenntag    ┆ Sonstige ┆ 8          ┆ Diverse │
│ 00:00:00   ┆           ┆       ┆       ┆   ┆             ┆ Branchen ┆            ┆         │
│ 2020-02-18 ┆ 49.36     ┆ 49.4  ┆ 48.65 ┆ … ┆ Brenntag    ┆ Sonstige ┆ 8          ┆ Diverse │
│ 00:00:00   ┆           ┆       ┆       ┆   ┆             ┆ Branchen ┆            ┆         │
│ 2020-02-17 ┆ 49.52     ┆ 49.87 ┆ 49.52 ┆ … ┆ Brenntag    ┆ Sonstige ┆ 8          ┆ Diverse │
│ 00:00:00   ┆           ┆       ┆       ┆   ┆             ┆ Branchen ┆            ┆         │
└────────────┴───────────┴───────┴───────┴───┴─────────────┴──────────┴────────────┴─────────┘

In [14]:
stock.describe()

shape: (9, 11)
┌───────────┬───────────┬──────────┬───────────┬───┬───────────┬───────────┬────────────┬──────────┐
│ describe  ┆ Datum     ┆ Eröffnun ┆ Hoch      ┆ … ┆ Unternehm ┆ Branche   ┆ Kalenderwo ┆ Sektor   │
│ ---       ┆ ---       ┆ g        ┆ ---       ┆   ┆ en        ┆ ---       ┆ che        ┆ ---      │
│ str       ┆ str       ┆ ---      ┆ f64       ┆   ┆ ---       ┆ str       ┆ ---        ┆ str      │
│           ┆           ┆ f64      ┆           ┆   ┆ str       ┆           ┆ f64        ┆          │
╞═══════════╪═══════════╪══════════╪═══════════╪═══╪═══════════╪═══════════╪════════════╪══════════╡
│ count     ┆ 8981      ┆ 8981.0   ┆ 8981.0    ┆ … ┆ 8981      ┆ 8981      ┆ 8981.0     ┆ 8981     │
│ null_coun ┆ 0         ┆ 0.0      ┆ 0.0       ┆ … ┆ 0         ┆ 0         ┆ 0.0        ┆ 156      │
│ t         ┆           ┆          ┆           ┆   ┆           ┆           ┆            ┆          │
│ mean      ┆ null      ┆ 50.19944 ┆ 51.325227 ┆ … ┆ null      ┆ null      ┆ 12.802361  ┆ null     │
│           ┆           ┆ 6        ┆           ┆   ┆           ┆           ┆            ┆          │
│ std       ┆ null      ┆ 61.78014 ┆ 62.975705 ┆ … ┆ null      ┆ null      ┆ 3.130534   ┆ null     │
│           ┆           ┆ 4        ┆           ┆   ┆           ┆           ┆            ┆          │
│ min       ┆ 2020-02-1 ┆ 0.046    ┆ 0.0465    ┆ … ┆ 1&1       ┆ Automobil ┆ 8.0        ┆ Bauindus │
│           ┆ 7         ┆          ┆           ┆   ┆ Drillisch ┆ produktio ┆            ┆ trie     │
│           ┆ 00:00:00  ┆          ┆           ┆   ┆           ┆ n         ┆            ┆          │
│ max       ┆ 2020-05-0 ┆ 665.0    ┆ 669.0     ┆ … ┆ zooplus   ┆ Versicher ┆ 18.0       ┆ Versorge │
│           ┆ 1         ┆          ┆           ┆   ┆           ┆ ungen     ┆            ┆ r        │
│           ┆ 00:00:00  ┆          ┆           ┆   ┆           ┆           ┆            ┆          │
│ median    ┆ null      ┆ 31.88    ┆ 32.72     ┆ … ┆ null      ┆ null      ┆ 13.0       ┆ null     │
│ 25%       ┆ null      ┆ 15.4     ┆ 15.86     ┆ … ┆ null      ┆ null      ┆ 10.0       ┆ null     │
│ 75%       ┆ null      ┆ 60.95    ┆ 62.3      ┆ … ┆ null      ┆ null      ┆ 15.0       ┆ null     │
└───────────┴───────────┴──────────┴───────────┴───┴───────────┴───────────┴────────────┴──────────┘

In [15]:
stock.sample(2)

shape: (2, 10)
┌─────────────┬───────────┬───────┬───────┬───┬───────────┬─────────────┬────────────┬─────────────┐
│ Datum       ┆ Eröffnung ┆ Hoch  ┆ Tief  ┆ … ┆ Unternehm ┆ Branche     ┆ Kalenderwo ┆ Sektor      │
│ ---         ┆ ---       ┆ ---   ┆ ---   ┆   ┆ en        ┆ ---         ┆ che        ┆ ---         │
│ str         ┆ f64       ┆ f64   ┆ f64   ┆   ┆ ---       ┆ str         ┆ ---        ┆ str         │
│             ┆           ┆       ┆       ┆   ┆ str       ┆             ┆ i64        ┆             │
╞═════════════╪═══════════╪═══════╪═══════╪═══╪═══════════╪═════════════╪════════════╪═════════════╡
│ 2020-03-26  ┆ 257.0     ┆ 276.5 ┆ 255.0 ┆ … ┆ HYPOPORT  ┆ Finanzdiens ┆ 13         ┆ Finanzsekto │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆           ┆ tleistungen ┆            ┆ r           │
│ 2020-04-06  ┆ 22.98     ┆ 24.08 ┆ 22.59 ┆ … ┆ HUGO BOSS ┆ Bekleidungs ┆ 15         ┆ Konsumgüter │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆           ┆ artikel     ┆            ┆             │
└─────────────┴───────────┴───────┴───────┴───┴───────────┴─────────────┴────────────┴─────────────┘

In [16]:
stock.select(pl.col("*")).head()

shape: (5, 10)
┌─────────────┬───────────┬───────┬───────┬───┬───────────┬─────────────┬────────────┬─────────────┐
│ Datum       ┆ Eröffnung ┆ Hoch  ┆ Tief  ┆ … ┆ Unternehm ┆ Branche     ┆ Kalenderwo ┆ Sektor      │
│ ---         ┆ ---       ┆ ---   ┆ ---   ┆   ┆ en        ┆ ---         ┆ che        ┆ ---         │
│ str         ┆ f64       ┆ f64   ┆ f64   ┆   ┆ ---       ┆ str         ┆ ---        ┆ str         │
│             ┆           ┆       ┆       ┆   ┆ str       ┆             ┆ i64        ┆             │
╞═════════════╪═══════════╪═══════╪═══════╪═══╪═══════════╪═════════════╪════════════╪═════════════╡
│ 2020-04-30  ┆ 214.7     ┆ 217.8 ┆ 208.0 ┆ … ┆ Adidas    ┆ Sportartike ┆ 18         ┆ Konsumgüter │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆           ┆ l           ┆            ┆             │
│ 2020-04-29  ┆ 204.1     ┆ 213.6 ┆ 199.7 ┆ … ┆ Adidas    ┆ Sportartike ┆ 18         ┆ Konsumgüter │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆           ┆ l           ┆            ┆             │
│ 2020-04-28  ┆ 207.5     ┆ 210.2 ┆ 201.5 ┆ … ┆ Adidas    ┆ Sportartike ┆ 18         ┆ Konsumgüter │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆           ┆ l           ┆            ┆             │
│ 2020-04-27  ┆ 198.25    ┆ 216.4 ┆ 197.2 ┆ … ┆ Adidas    ┆ Sportartike ┆ 18         ┆ Konsumgüter │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆           ┆ l           ┆            ┆             │
│ 2020-04-24  ┆ 203.6     ┆ 207.7 ┆ 202.2 ┆ … ┆ Adidas    ┆ Sportartike ┆ 17         ┆ Konsumgüter │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆           ┆ l           ┆            ┆             │
└─────────────┴───────────┴───────┴───────┴───┴───────────┴─────────────┴────────────┴─────────────┘

In [17]:
stock.select(pl.col(["Schluss"])).head()

shape: (5, 1)
┌─────────┐
│ Schluss │
│ ---     │
│ f64     │
╞═════════╡
│ 209.2   │
│ 212.5   │
│ 205.4   │
│ 206.8   │
│ 205.4   │
└─────────┘

In [18]:
stock.select(pl.col(["Datum", "Eröffnung"])).head()

shape: (5, 2)
┌─────────────────────┬───────────┐
│ Datum               ┆ Eröffnung │
│ ---                 ┆ ---       │
│ str                 ┆ f64       │
╞═════════════════════╪═══════════╡
│ 2020-04-30 00:00:00 ┆ 214.7     │
│ 2020-04-29 00:00:00 ┆ 204.1     │
│ 2020-04-28 00:00:00 ┆ 207.5     │
│ 2020-04-27 00:00:00 ┆ 198.25    │
│ 2020-04-24 00:00:00 ┆ 203.6     │
└─────────────────────┴───────────┘

In [19]:
stock.select(pl.exclude(["Volumen"])).head()

shape: (5, 9)
┌─────────────┬───────────┬───────┬───────┬───┬───────────┬─────────────┬────────────┬─────────────┐
│ Datum       ┆ Eröffnung ┆ Hoch  ┆ Tief  ┆ … ┆ Unternehm ┆ Branche     ┆ Kalenderwo ┆ Sektor      │
│ ---         ┆ ---       ┆ ---   ┆ ---   ┆   ┆ en        ┆ ---         ┆ che        ┆ ---         │
│ str         ┆ f64       ┆ f64   ┆ f64   ┆   ┆ ---       ┆ str         ┆ ---        ┆ str         │
│             ┆           ┆       ┆       ┆   ┆ str       ┆             ┆ i64        ┆             │
╞═════════════╪═══════════╪═══════╪═══════╪═══╪═══════════╪═════════════╪════════════╪═════════════╡
│ 2020-04-30  ┆ 214.7     ┆ 217.8 ┆ 208.0 ┆ … ┆ Adidas    ┆ Sportartike ┆ 18         ┆ Konsumgüter │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆           ┆ l           ┆            ┆             │
│ 2020-04-29  ┆ 204.1     ┆ 213.6 ┆ 199.7 ┆ … ┆ Adidas    ┆ Sportartike ┆ 18         ┆ Konsumgüter │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆           ┆ l           ┆            ┆             │
│ 2020-04-28  ┆ 207.5     ┆ 210.2 ┆ 201.5 ┆ … ┆ Adidas    ┆ Sportartike ┆ 18         ┆ Konsumgüter │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆           ┆ l           ┆            ┆             │
│ 2020-04-27  ┆ 198.25    ┆ 216.4 ┆ 197.2 ┆ … ┆ Adidas    ┆ Sportartike ┆ 18         ┆ Konsumgüter │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆           ┆ l           ┆            ┆             │
│ 2020-04-24  ┆ 203.6     ┆ 207.7 ┆ 202.2 ┆ … ┆ Adidas    ┆ Sportartike ┆ 17         ┆ Konsumgüter │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆           ┆ l           ┆            ┆             │
└─────────────┴───────────┴───────┴───────┴───┴───────────┴─────────────┴────────────┴─────────────┘

# Filtering

In [20]:
stock.filter(pl.col("Datum").is_between(datetime(2020, 4, 1), datetime(2020, 4, 5)))

shape: (346, 10)
┌─────────────┬───────────┬────────┬────────┬───┬───────────┬────────────┬────────────┬────────────┐
│ Datum       ┆ Eröffnung ┆ Hoch   ┆ Tief   ┆ … ┆ Unternehm ┆ Branche    ┆ Kalenderwo ┆ Sektor     │
│ ---         ┆ ---       ┆ ---    ┆ ---    ┆   ┆ en        ┆ ---        ┆ che        ┆ ---        │
│ str         ┆ f64       ┆ f64    ┆ f64    ┆   ┆ ---       ┆ str        ┆ ---        ┆ str        │
│             ┆           ┆        ┆        ┆   ┆ str       ┆            ┆ i64        ┆            │
╞═════════════╪═══════════╪════════╪════════╪═══╪═══════════╪════════════╪════════════╪════════════╡
│ 2020-04-03  ┆ 195.7     ┆ 196.75 ┆ 188.0  ┆ … ┆ Adidas    ┆ Sportartik ┆ 14         ┆ Konsumgüte │
│ 00:00:00    ┆           ┆        ┆        ┆   ┆           ┆ el         ┆            ┆ r          │
│ 2020-04-02  ┆ 200.2     ┆ 202.0  ┆ 194.2  ┆ … ┆ Adidas    ┆ Sportartik ┆ 14         ┆ Konsumgüte │
│ 00:00:00    ┆           ┆        ┆        ┆   ┆           ┆ el         ┆            ┆ r          │
│ 2020-04-03  ┆ 41.42     ┆ 41.435 ┆ 40.53  ┆ … ┆ BASF      ┆ Chemie     ┆ 14         ┆ Chemie /   │
│ 00:00:00    ┆           ┆        ┆        ┆   ┆           ┆            ┆            ┆ Pharma /   │
│             ┆           ┆        ┆        ┆   ┆           ┆            ┆            ┆ Gesundheit │
│ 2020-04-02  ┆ 41.6      ┆ 41.89  ┆ 40.415 ┆ … ┆ BASF      ┆ Chemie     ┆ 14         ┆ Chemie /   │
│ 00:00:00    ┆           ┆        ┆        ┆   ┆           ┆            ┆            ┆ Pharma /   │
│             ┆           ┆        ┆        ┆   ┆           ┆            ┆            ┆ Gesundheit │
│ …           ┆ …         ┆ …      ┆ …      ┆ … ┆ …         ┆ …          ┆ …          ┆ …          │
│ 2020-04-03  ┆ 38.565    ┆ 39.4   ┆ 37.255 ┆ … ┆ TeamViewe ┆ Standardso ┆ 14         ┆ Software   │
│ 00:00:00    ┆           ┆        ┆        ┆   ┆ r         ┆ ftware     ┆            ┆            │
│ 2020-04-02  ┆ 37.235    ┆ 38.75  ┆ 35.905 ┆ … ┆ TeamViewe ┆ Standardso ┆ 14         ┆ Software   │
│ 00:00:00    ┆           ┆        ┆        ┆   ┆ r         ┆ ftware     ┆            ┆            │
│ 2020-04-03  ┆ 33.93     ┆ 34.99  ┆ 33.64  ┆ … ┆ Brenntag  ┆ Sonstige   ┆ 14         ┆ Diverse    │
│ 00:00:00    ┆           ┆        ┆        ┆   ┆           ┆ Branchen   ┆            ┆            │
│ 2020-04-02  ┆ 33.02     ┆ 34.02  ┆ 32.39  ┆ … ┆ Brenntag  ┆ Sonstige   ┆ 14         ┆ Diverse    │
│ 00:00:00    ┆           ┆        ┆        ┆   ┆           ┆ Branchen   ┆            ┆            │
└─────────────┴───────────┴────────┴────────┴───┴───────────┴────────────┴────────────┴────────────┘

In [21]:
# filter = (df['Schluss'] > 50) & (df['Erföffnung'] < 49)
# df[filter]
stock.filter((pl.col("Schluss") > 50) & (pl.col("Eröffnung") < 49))

shape: (7, 10)
┌─────────────┬───────────┬───────┬───────┬───┬───────────┬─────────────┬────────────┬─────────────┐
│ Datum       ┆ Eröffnung ┆ Hoch  ┆ Tief  ┆ … ┆ Unternehm ┆ Branche     ┆ Kalenderwo ┆ Sektor      │
│ ---         ┆ ---       ┆ ---   ┆ ---   ┆   ┆ en        ┆ ---         ┆ che        ┆ ---         │
│ str         ┆ f64       ┆ f64   ┆ f64   ┆   ┆ ---       ┆ str         ┆ ---        ┆ str         │
│             ┆           ┆       ┆       ┆   ┆ str       ┆             ┆ i64        ┆             │
╞═════════════╪═══════════╪═══════╪═══════╪═══╪═══════════╪═════════════╪════════════╪═════════════╡
│ 2020-03-20  ┆ 47.1      ┆ 51.95 ┆ 46.2  ┆ … ┆ GRENKE    ┆ IT-Dienstle ┆ 12         ┆ Information │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆           ┆ istungen    ┆            ┆ stechnologi │
│             ┆           ┆       ┆       ┆   ┆           ┆             ┆            ┆ e           │
│ 2020-02-26  ┆ 48.0      ┆ 51.6  ┆ 48.0  ┆ … ┆ Stabilus  ┆ Sonstige    ┆ 9          ┆ Diverse     │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆           ┆ Branchen    ┆            ┆             │
│ 2020-03-04  ┆ 48.65     ┆ 50.9  ┆ 48.55 ┆ … ┆ WashTec   ┆ Sonstige    ┆ 10         ┆ Kraftfahrze │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆           ┆ Kraftfahrze ┆            ┆ ugindustrie │
│             ┆           ┆       ┆       ┆   ┆           ┆ ugindustrie ┆            ┆             │
│ 2020-04-22  ┆ 48.8      ┆ 50.3  ┆ 48.1  ┆ … ┆ KWS SAAT  ┆ Sonstige    ┆ 17         ┆ Diverse     │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆           ┆ Branchen    ┆            ┆             │
│ 2020-02-28  ┆ 48.6      ┆ 52.3  ┆ 48.6  ┆ … ┆ KWS SAAT  ┆ Sonstige    ┆ 9          ┆ Diverse     │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆           ┆ Branchen    ┆            ┆             │
│ 2020-03-26  ┆ 48.62     ┆ 53.0  ┆ 47.96 ┆ … ┆ CompuGrou ┆ Softwareser ┆ 13         ┆ Software    │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆ p Medical ┆ vice / -die ┆            ┆             │
│             ┆           ┆       ┆       ┆   ┆           ┆ nstleistun… ┆            ┆             │
│ 2020-04-03  ┆ 48.16     ┆ 52.35 ┆ 47.7  ┆ … ┆ Axel      ┆ Printmedien ┆ 14         ┆ Medien /    │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆ Springer  ┆ (Zeitschrif ┆            ┆ Entertainme │
│             ┆           ┆       ┆       ┆   ┆           ┆ ten und M…  ┆            ┆ nt /        │
│             ┆           ┆       ┆       ┆   ┆           ┆             ┆            ┆ Freizei…    │
└─────────────┴───────────┴───────┴───────┴───┴───────────┴─────────────┴────────────┴─────────────┘

# Creating New Columns

In [22]:
stock.with_columns(
    [
        pl.col("Eröffnung").mean().alias("avg_eröffnung"),
        (pl.col("Eröffnung") > 20).alias("Eröffnung über 20"),
    ]
).head()

shape: (5, 12)
┌─────────────┬───────────┬───────┬───────┬───┬────────────┬─────────────┬────────────┬────────────┐
│ Datum       ┆ Eröffnung ┆ Hoch  ┆ Tief  ┆ … ┆ Kalenderwo ┆ Sektor      ┆ avg_eröffn ┆ Eröffnung  │
│ ---         ┆ ---       ┆ ---   ┆ ---   ┆   ┆ che        ┆ ---         ┆ ung        ┆ über 20    │
│ str         ┆ f64       ┆ f64   ┆ f64   ┆   ┆ ---        ┆ str         ┆ ---        ┆ ---        │
│             ┆           ┆       ┆       ┆   ┆ i64        ┆             ┆ f64        ┆ bool       │
╞═════════════╪═══════════╪═══════╪═══════╪═══╪════════════╪═════════════╪════════════╪════════════╡
│ 2020-04-30  ┆ 214.7     ┆ 217.8 ┆ 208.0 ┆ … ┆ 18         ┆ Konsumgüter ┆ 50.199446  ┆ true       │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆            ┆             ┆            ┆            │
│ 2020-04-29  ┆ 204.1     ┆ 213.6 ┆ 199.7 ┆ … ┆ 18         ┆ Konsumgüter ┆ 50.199446  ┆ true       │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆            ┆             ┆            ┆            │
│ 2020-04-28  ┆ 207.5     ┆ 210.2 ┆ 201.5 ┆ … ┆ 18         ┆ Konsumgüter ┆ 50.199446  ┆ true       │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆            ┆             ┆            ┆            │
│ 2020-04-27  ┆ 198.25    ┆ 216.4 ┆ 197.2 ┆ … ┆ 18         ┆ Konsumgüter ┆ 50.199446  ┆ true       │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆            ┆             ┆            ┆            │
│ 2020-04-24  ┆ 203.6     ┆ 207.7 ┆ 202.2 ┆ … ┆ 17         ┆ Konsumgüter ┆ 50.199446  ┆ true       │
│ 00:00:00    ┆           ┆       ┆       ┆   ┆            ┆             ┆            ┆            │
└─────────────┴───────────┴───────┴───────┴───┴────────────┴─────────────┴────────────┴────────────┘

# Groupby

In [23]:
stock.groupby("Unternehmen", maintain_order=True).agg(
    [
        pl.col("Eröffnung").mean().alias("avg_Eröffnung"),
        pl.col("Eröffnung").max().alias("max_Eröffnung"),
    ]
)

shape: (173, 3)
┌────────────────────────────┬───────────────┬───────────────┐
│ Unternehmen                ┆ avg_Eröffnung ┆ max_Eröffnung │
│ ---                        ┆ ---           ┆ ---           │
│ str                        ┆ f64           ┆ f64           │
╞════════════════════════════╪═══════════════╪═══════════════╡
│ Adidas                     ┆ 220.980577    ┆ 292.5         │
│ BASF                       ┆ 47.788077     ┆ 61.94         │
│ Beiersdorf                 ┆ 94.691346     ┆ 107.45        │
│ Continental                ┆ 78.465        ┆ 112.74        │
│ …                          ┆ …             ┆ …             │
│ MLP                        ┆ 4.844038      ┆ 5.95          │
│ MPC Münchmeyer Peters.Cap. ┆ 1.41125       ┆ 2.01          │
│ TeamViewer                 ┆ 34.259904     ┆ 42.53         │
│ Brenntag                   ┆ 38.352308     ┆ 49.52         │
└────────────────────────────┴───────────────┴───────────────┘

## Combining Dataframes

In [24]:
df = pl.DataFrame(
    {
        "a": np.arange(0, 8),
        "b": np.random.rand(8),
        "c": [datetime(2023, 1, 1) + timedelta(days=idx) for idx in range(8)],
        "d": [1, 2.0, np.NaN, np.NaN, 0, -5, -42, None],
    }
)

df2 = pl.DataFrame(
    {
        "x": np.arange(0, 8),
        "y": ["A", "A", "A", "B", "B", "C", "X", "X"],
    }
)

In [25]:
df.join(df2, left_on='a', right_on='x')

shape: (8, 5)
┌─────┬──────────┬─────────────────────┬───────┬─────┐
│ a   ┆ b        ┆ c                   ┆ d     ┆ y   │
│ --- ┆ ---      ┆ ---                 ┆ ---   ┆ --- │
│ i32 ┆ f64      ┆ datetime[μs]        ┆ f64   ┆ str │
╞═════╪══════════╪═════════════════════╪═══════╪═════╡
│ 0   ┆ 0.527036 ┆ 2023-01-01 00:00:00 ┆ 1.0   ┆ A   │
│ 1   ┆ 0.473262 ┆ 2023-01-02 00:00:00 ┆ 2.0   ┆ A   │
│ 2   ┆ 0.769909 ┆ 2023-01-03 00:00:00 ┆ NaN   ┆ A   │
│ 3   ┆ 0.83991  ┆ 2023-01-04 00:00:00 ┆ NaN   ┆ B   │
│ 4   ┆ 0.354135 ┆ 2023-01-05 00:00:00 ┆ 0.0   ┆ B   │
│ 5   ┆ 0.173694 ┆ 2023-01-06 00:00:00 ┆ -5.0  ┆ C   │
│ 6   ┆ 0.918896 ┆ 2023-01-07 00:00:00 ┆ -42.0 ┆ X   │
│ 7   ┆ 0.401397 ┆ 2023-01-08 00:00:00 ┆ null  ┆ X   │
└─────┴──────────┴─────────────────────┴───────┴─────┘

In [26]:
pl.concat([df,df2],how='horizontal') # similar to axis in pandas

shape: (8, 6)
┌─────┬──────────┬─────────────────────┬───────┬─────┬─────┐
│ a   ┆ b        ┆ c                   ┆ d     ┆ x   ┆ y   │
│ --- ┆ ---      ┆ ---                 ┆ ---   ┆ --- ┆ --- │
│ i32 ┆ f64      ┆ datetime[μs]        ┆ f64   ┆ i32 ┆ str │
╞═════╪══════════╪═════════════════════╪═══════╪═════╪═════╡
│ 0   ┆ 0.527036 ┆ 2023-01-01 00:00:00 ┆ 1.0   ┆ 0   ┆ A   │
│ 1   ┆ 0.473262 ┆ 2023-01-02 00:00:00 ┆ 2.0   ┆ 1   ┆ A   │
│ 2   ┆ 0.769909 ┆ 2023-01-03 00:00:00 ┆ NaN   ┆ 2   ┆ A   │
│ 3   ┆ 0.83991  ┆ 2023-01-04 00:00:00 ┆ NaN   ┆ 3   ┆ B   │
│ 4   ┆ 0.354135 ┆ 2023-01-05 00:00:00 ┆ 0.0   ┆ 4   ┆ B   │
│ 5   ┆ 0.173694 ┆ 2023-01-06 00:00:00 ┆ -5.0  ┆ 5   ┆ C   │
│ 6   ┆ 0.918896 ┆ 2023-01-07 00:00:00 ┆ -42.0 ┆ 6   ┆ X   │
│ 7   ┆ 0.401397 ┆ 2023-01-08 00:00:00 ┆ null  ┆ 7   ┆ X   │
└─────┴──────────┴─────────────────────┴───────┴─────┴─────┘

# Polar Expressions

In [27]:
stock['Unternehmen'].unique()

shape: (173,)
Series: 'Unternehmen' [str]
[
	"Software"
	"RTL Group"
	"LANXESS"
	"RATIONAL"
	"Grand City Pro…
	"DWS Group"
	"Qiagen"
	"Ströer"
	"CompuGroup Med…
	"DMG MORI"
	"TUI"
	"CTS Eventim"
	…
	"HYPOPORT"
	"Vonovia"
	"thyssenkrupp"
	"New Work"
	"NORMA Group"
	"United Interne…
	"AIRBUS GROUP"
	"Carl Zeiss Med…
	"Deutsche Börse…
	"Bauer"
	"Aroundtown"
	"BEFESA"
	"TAKKT"
]

In [28]:
stock['Unternehmen'].n_unique()

173

In [29]:
stock['Unternehmen'].value_counts()

shape: (173, 2)
┌────────────────┬────────┐
│ Unternehmen    ┆ counts │
│ ---            ┆ ---    │
│ str            ┆ u32    │
╞════════════════╪════════╡
│ Axel Springer  ┆ 36     │
│ Commerzbank    ┆ 52     │
│ Evotec         ┆ 52     │
│ GRENKE         ┆ 52     │
│ …              ┆ …      │
│ RHOEN-KLINIKUM ┆ 52     │
│ CTS Eventim    ┆ 52     │
│ ENCAVIS AG     ┆ 52     │
│ Symrise        ┆ 52     │
└────────────────┴────────┘

# Speed Test

In [39]:
%%timeit
df = pd.read_excel('data/stock_data.xlsx')
aggs = df.groupby(['Unternehmen']).agg({'Eröffnung': ['min','mean','max'], 'Schluss' : ['min','mean','max']})

1.16 s ± 7.38 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [40]:
%%timeit
aggs = (
    pl.read_excel('data/stock_data.xlsx')
    .groupby('Unternehmen')
    .agg(
        [
            pl.col('Eröffnung').min().alias('min_Eröffnung'),
            pl.col('Eröffnung').mean().alias('mean_Eröffnung'),
            pl.col('Eröffnung').max().alias('max_Eröffnung'),
            pl.col('Schluss').min().alias('min_Schluss'),
            pl.col('Schluss').mean().alias('mean_Schluss'),
            pl.col('Schluss').max().alias('max_Schluss')
        ]
    )
)

997 ms ± 7.93 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)